.BlogComment {
  @for $i from 1 through 3 {
    [data-indent='#{$i}'] {
      margin-left: #{$i * 2}rem;
    }
  }
  @for $i from 4 through 12 {
    [data-indent='#{$i}'] {
      margin-left: #{$i * 1}rem;
    }
  }
  &_H1 {
    @apply bg-transparent pb-0;
  }
  &_CommentHeader {
    @apply flex;
  }
  &_AuthorName {
    @apply text-base;
    .BlogIcon {
      @apply align-middle pl-1;
      line-height: 18px;
    }
  }
  &_AuthorLink {
    @apply inline-block text-xs align-text-bottom pl-2;
    @apply whitespace-nowrap overflow-hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  &_Date {
    @apply text-gray-500;
  }
  &_AuthorAvatar {
    @apply w-12 h-12;
    img {
      @apply w-full h-full;
    }
  }
  &_AuthorInfo {
    @apply flex flex-col justify-around mx-2 flex-1;
  }
  &_Content {
    @apply ml-14 my-2;
  }
  &_Actions {
    @apply ml-14 my-2;
  }

  @media print {
    &_CommentForm {
      @apply hidden;
    }
  }

  @media screen and (max-width: 425px) {
    &_Content,
    &_Actions {
      @apply ml-0 my-2;
    }
    &_Actions {
      @apply hidden;
    }
    &_Comment:hover {
      .BlogComment_Actions {
        @apply block;
      }
    }
    [data-indent] {
      @apply ml-0 my-0;
    }
    [data-indent='0'] {
      @apply mt-4;
    }
    @for $i from 1 through 2 {
      [data-indent='#{$i}'] {
        margin-left: #{$i * 1}rem;
      }
    }
    @for $i from 3 through 12 {
      [data-indent='#{$i}'] {
        margin-left: #{$i * 0.5}rem;
      }
    }
  }
}

.CommentForm {
  h2 {
    @apply my-2;
  }
  fieldset {
    @apply border-none;
  }

  textarea,
  input,
  button[type='submit'] {
    @apply block w-full my-2 px-4 py-2 text-base;
    line-height: 1.5;
  }

  button[type='submit'] {
    @apply mt-4;
  }

  &_Tip {
    @apply text-sm text-gray-500 mt-2;
  }

  &_Details-Hidden {
    @apply hidden;
  }
}
