.BlogPost {
  &_Head {
  }
  &_Title {
    @apply text-2xl font-semibold;
    a {
      color: inherit;
      &:hover {
        @apply text-yellow-700;
      }
    }
  }
  &_Meta {
    @apply my-2;
    a + a {
      @apply ml-2;
    }
    a {
      color: inherit;
      &:hover {
        @apply text-yellow-700;
      }
    }
  }

  &_Body {
    @apply text-base;
    line-height: 1.7;

    p {
      @apply my-2;
      line-height: inherit;
    }

    em {
      @apply not-italic text-pink-700;
    }

    ul,
    ol {
      @apply list-disc ml-6;
    }

    ol {
      @apply list-decimal;
    }

    ul ul {
      list-style: circle;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-gray-900 font-semibold;
      @apply text-xl mt-4 mb-2;
    }

    h3,
    h4,
    h5,
    h6 {
      @apply text-base mt-2 mb-1;
    }

    img,
    figure {
      @apply max-w-full h-auto block mx-auto;
    }

    img {
      @apply object-cover;
    }

    figure {
      @apply px-4 py-2 bg-white;
    }

    figcaption {
      @apply text-center;
    }

    pre,
    code {
      @apply whitespace-pre-wrap break-all bg-gray-100 text-gray-900;

      font-family: 'Fira Code', 'Fira CodeVariable', 'JetBrains Mono',
        'Consolas', ChineseOnlySansSerif, monospace;

      // modern fonts are 125% screens only
      @media screen and (min-resolution: 120dpi) {
        font-family: 'Fira Code', 'JetBrains Mono', 'Sarasa Mono SC', 'Consolas',
          ChineseOnlySansSerif, monospace;
      }
    }

    pre {
      @apply px-4 py-2 my-1;
    }

    blockquote {
      @apply px-12 pt-6 pb-4 my-1 bg-gray-100 relative;
      &::before {
        content: ' ';
        background-image: url('data:image/svg+xml,%3Csvg width%3D%2233.7%22 height%3D%2225%22 viewBox%3D%22-1 0 34.7 25%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg id%3D%22svgGroup%22 stroke-linecap%3D%22round%22 fill-rule%3D%22evenodd%22 font-size%3D%229pt%22 stroke%3D%22%23cbd5e1%22 stroke-width%3D%220.25mm%22 fill%3D%22%23cbd5e1%22 style%3D%22stroke%3A%23cbd5e1%3Bstroke-width%3A0.25mm%3Bfill%3A%23cbd5e1%22%3E%3Cpath d%3D%22M 32.1 0 L 33.7 3.4 A 16.552 16.552 0 0 0 30.672 4.68 A 12.168 12.168 0 0 0 27.65 7 Q 25.503 9.291 25.861 12.857 A 11.199 11.199 0 0 0 25.9 13.2 A 9.838 9.838 0 0 0 26.763 13.825 Q 27.688 14.427 29 15.05 A 43.151 43.151 0 0 0 30.43 15.699 Q 31.138 16.004 31.77 16.241 A 21.273 21.273 0 0 0 32.5 16.5 Q 32.9 18.1 32.5 19.6 A 7.406 7.406 0 0 1 31.495 21.844 A 6.974 6.974 0 0 1 31.2 22.25 Q 30.3 23.4 29.1 24.15 A 7.387 7.387 0 0 1 28.264 24.605 Q 27.823 24.807 27.413 24.909 A 3.584 3.584 0 0 1 26.9 25 Q 23.4 24.7 20.8 22.4 A 7.444 7.444 0 0 1 18.48 18.407 A 11.427 11.427 0 0 1 18.2 15.8 A 15.404 15.404 0 0 1 18.998 10.956 A 17.246 17.246 0 0 1 19.05 10.8 Q 19.9 8.3 21.6 6.15 A 16.236 16.236 0 0 1 24.509 3.318 A 19.647 19.647 0 0 1 25.9 2.35 A 16.009 16.009 0 0 1 29.34 0.726 A 21.048 21.048 0 0 1 32.1 0 Z M 13.9 0 L 15.5 3.4 A 16.552 16.552 0 0 0 12.472 4.68 A 12.168 12.168 0 0 0 9.45 7 Q 7.303 9.291 7.661 12.857 A 11.199 11.199 0 0 0 7.7 13.2 A 9.838 9.838 0 0 0 8.563 13.825 Q 9.488 14.427 10.8 15.05 A 43.151 43.151 0 0 0 12.23 15.699 Q 12.938 16.004 13.57 16.241 A 21.273 21.273 0 0 0 14.3 16.5 Q 14.7 18.1 14.3 19.6 A 7.406 7.406 0 0 1 13.295 21.844 A 6.974 6.974 0 0 1 13 22.25 Q 12.1 23.4 10.9 24.15 A 7.387 7.387 0 0 1 10.064 24.605 Q 9.623 24.807 9.213 24.909 A 3.584 3.584 0 0 1 8.7 25 Q 5.2 24.7 2.6 22.4 A 7.444 7.444 0 0 1 0.28 18.407 A 11.427 11.427 0 0 1 0 15.8 A 15.404 15.404 0 0 1 0.798 10.956 A 17.246 17.246 0 0 1 0.85 10.8 Q 1.7 8.3 3.4 6.15 A 16.236 16.236 0 0 1 6.309 3.318 A 19.647 19.647 0 0 1 7.7 2.35 A 16.009 16.009 0 0 1 11.14 0.726 A 21.048 21.048 0 0 1 13.9 0 Z%22 vector-effect%3D%22non-scaling-stroke%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        @apply absolute top-2 left-2;
        width: 34px;
        height: 25px;
      }
      &::after {
        content: ' ';
        background-image: url('data:image/svg+xml,%3Csvg width%3D%2234.4%22 height%3D%2225.9%22 viewBox%3D%220 0 34.4 25.9%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg id%3D%22svgGroup%22 stroke-linecap%3D%22round%22 fill-rule%3D%22evenodd%22 font-size%3D%229pt%22 stroke%3D%22%23cbd5e1%22 stroke-width%3D%220.25mm%22 fill%3D%22%23cbd5e1%22 style%3D%22stroke%3A%23cbd5e1%3Bstroke-width%3A0.25mm%3Bfill%3A%23cbd5e1%22%3E%3Cpath d%3D%22M 1.7 25.9 L 0 22.5 A 14.133 14.133 0 0 0 4.909 19.897 A 13.528 13.528 0 0 0 6.45 18.4 Q 9 15.5 8.5 11.7 A 9.183 9.183 0 0 0 7.593 11.053 Q 7.137 10.765 6.589 10.477 A 21.649 21.649 0 0 0 5.4 9.9 A 120.707 120.707 0 0 0 3.97 9.267 Q 2.837 8.775 1.9 8.4 A 5.703 5.703 0 0 1 1.653 7.152 Q 1.637 6.947 1.637 6.743 A 4.998 4.998 0 0 1 1.85 5.3 A 8.149 8.149 0 0 1 2.828 3.17 A 7.502 7.502 0 0 1 3.2 2.65 A 8.582 8.582 0 0 1 4.958 0.95 A 8.011 8.011 0 0 1 5.25 0.75 A 5.186 5.186 0 0 1 6.167 0.268 Q 6.798 0.018 7.413 0.001 A 3.237 3.237 0 0 1 7.5 0 A 10.673 10.673 0 0 1 13.309 2.394 A 12.974 12.974 0 0 1 13.5 2.55 A 7.224 7.224 0 0 1 15.902 6.515 Q 16.195 7.72 16.2 9.154 A 14.261 14.261 0 0 1 16.2 9.2 A 12.829 12.829 0 0 1 15.79 12.357 A 16.269 16.269 0 0 1 15.2 14.2 A 17.404 17.404 0 0 1 12.652 18.662 A 19.795 19.795 0 0 1 12.3 19.1 A 20.557 20.557 0 0 1 8.684 22.507 A 23.705 23.705 0 0 1 7.7 23.2 Q 5 25 1.7 25.9 Z M 19.9 25.9 L 18.2 22.5 A 14.133 14.133 0 0 0 23.109 19.897 A 13.528 13.528 0 0 0 24.65 18.4 Q 27.2 15.5 26.7 11.7 A 9.183 9.183 0 0 0 25.793 11.053 Q 25.337 10.765 24.789 10.477 A 21.649 21.649 0 0 0 23.6 9.9 A 120.707 120.707 0 0 0 22.17 9.267 Q 21.038 8.775 20.1 8.4 A 5.703 5.703 0 0 1 19.853 7.152 Q 19.837 6.947 19.837 6.743 A 4.998 4.998 0 0 1 20.05 5.3 A 8.149 8.149 0 0 1 21.028 3.17 A 7.502 7.502 0 0 1 21.4 2.65 A 8.582 8.582 0 0 1 23.158 0.95 A 8.011 8.011 0 0 1 23.45 0.75 A 5.186 5.186 0 0 1 24.367 0.268 Q 24.998 0.018 25.613 0.001 A 3.237 3.237 0 0 1 25.7 0 A 10.673 10.673 0 0 1 31.509 2.394 A 12.974 12.974 0 0 1 31.7 2.55 A 7.224 7.224 0 0 1 34.102 6.515 Q 34.395 7.72 34.4 9.154 A 14.261 14.261 0 0 1 34.4 9.2 A 12.829 12.829 0 0 1 33.99 12.357 A 16.269 16.269 0 0 1 33.4 14.2 A 17.404 17.404 0 0 1 30.852 18.662 A 19.795 19.795 0 0 1 30.5 19.1 A 20.557 20.557 0 0 1 26.884 22.507 A 23.705 23.705 0 0 1 25.9 23.2 Q 23.2 25 19.9 25.9 Z%22 vector-effect%3D%22non-scaling-stroke%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        font-family: 'Consolas';
        @apply absolute right-2 bottom-2;
        width: 34px;
        height: 26px;
      }
    }

    hr {
      @apply my-2 border-0 h-px bg-gray-300;
    }

    table {
      @apply w-full border-collapse my-2;
      th,
      td {
        @apply px-2 py-1;
        @apply border border-solid border-gray-300;
      }
    }
  }

  &-Summarized &_Body {
    img {
      @apply max-h-80 mx-auto block;
    }
  }

  &_ReadMore a {
    @apply text-base block py-1;
  }

  &_Loading {
    @apply mt-2;
  }
}

.BlogMeta {
  @apply inline-flex items-center;
  &_Label,
  &_Value {
    @apply inline text-gray-500;
    a {
      @apply inline-block;
    }
  }
  &_Label {
    @apply block;
    .BlogIcon,
    svg {
      @apply block;
    }
  }
  &_Value {
    @apply ml-1 mr-2;
  }
}
