.BlogComment {
  @for $i from 1 through 10 {
    [data-indent='#{$i}'] {
      margin-left: #{$i * 2}rem;
    }
  }
  &_H1 {
    @apply bg-transparent;
  }
  &_CommentHeader {
    @apply flex;
  }
  &_AuthorName {
    @apply text-base;
    .BlogIcon {
      @apply align-middle pl-1;
      line-height: 1;
    }
  }
  &_AuthorLink {
    @apply inline-block text-xs align-text-bottom pl-2;
    @apply whitespace-nowrap overflow-hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  &_Date {
    @apply text-gray-500;
  }
  &_AuthorAvatar {
    @apply w-12 h-12;
    img {
      @apply w-full h-full;
    }
  }
  &_AuthorInfo {
    @apply flex flex-col justify-around mx-2 flex-1;
  }
  &_Content {
    @apply ml-14 my-2;
  }
  &_Actions {
    @apply ml-14 my-2;
    button {
      @apply bg-transparent border-none cursor-pointer text-yellow-700;
      &:hover {
        @apply text-yellow-600;
      }
    }
  }
}

.CommentForm {
  h2 {
    @apply my-2;
  }
  fieldset {
    @apply border-none;
  }
  textarea,
  input,
  button {
    @apply block w-full my-2 px-4 py-2 text-base;
    line-height: 1.5;
  }
  button {
    @apply mt-4;
  }

  &_Tip {
    @apply text-sm text-gray-500 mt-2;
  }
}
