:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  @apply list-none;
}

body {
  @apply text-gray-700 text-sm;
  line-height: 1.5;

  $normal-fonts: 'Microsoft YaHei', '微软雅黑', 'SimHei', '黑体';
  $modern-fonts: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    'Noto Sans SC', 'Noto Sans', 'HarmonyOS Sans SC', 'Sarasa Gothic SC';
  $emoji-fonts: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  font-family: $normal-fonts, sans-serif, $emoji-fonts;

  // modern fonts are 125% screens only
  @media screen and (min-resolution: 120dpi) {
    font-family: $modern-fonts, $normal-fonts, sans-serif, $emoji-fonts;
  }
}

p {
  @apply text-base mb-1;
}

small {
  @apply text-sm;
}

a {
  @apply no-underline text-yellow-700;
  &:hover {
    @apply text-yellow-600;
  }
}

@import './layout.scss';

@import './sidebar/BlogTitle.scss';
@import './sidebar/SideLinks.scss';
@import './sidebar/SideHeader.scss';
@import './sidebar/CreativeCommons.scss';
@import './sidebar/TagCloud.scss';

@import './post/BlogPost.scss';
