body {
  @apply bg-red-50;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
}

$sidebar-width: 288px;

.BlogLayout {
  @apply flex mx-auto min-h-screen;

  $max-width: 1080px;
  $ainou-width: 288px;
  $ainou-breakpoint: $max-width + $ainou-width;

  max-width: $max-width;

  &_Sidebar {
    @apply flex-shrink-0;
    width: $sidebar-width;
    order: 1;
  }

  &_Main {
    @apply overflow-hidden flex-1;
    order: 2;
  }

  &_Ainou {
    @apply hidden flex-shrink-0;
    order: 3;
  }

  &_DetailsTrigger {
    @apply hidden;
  }

  #BlogLayout_DetailsCheckbox {
    @apply hidden;
  }

  @media screen and (min-width: $ainou-breakpoint) {
    max-width: $ainou-breakpoint;
    &_Ainou {
      @apply block;
      width: $ainou-width;

      &::before {
        content: ' ';
        @apply block fixed pointer-events-none;
        @apply bottom-0 bg-no-repeat bg-left-bottom;
        width: $ainou-width;
        height: 600px;
        margin-left: -24px;
        background-size: $ainou-width;
        background-image: url('/_i3w_assets/images/ainou-grab.png');
      }
    }
  }

  @media screen and (min-width: $ainou-breakpoint + $ainou-width) {
    max-width: $max-width;
    &_Ainou {
      width: 0;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 600px;
    @apply flex-col;
    &_Sidebar {
      width: 100%;
    }
    &_DetailsTrigger {
      @apply block;
    }
    &_SidebarDetails {
      @apply hidden;
    }
    #BlogLayout_DetailsCheckbox:checked + &_SidebarDetails {
      @apply block;
    }
  }
}

.BlogSidebar {
  @apply px-8 pr-2 pb-4;
  width: $sidebar-width;

  @media screen and (max-width: 768px) {
    @apply px-0;
    position: relative !important;
    transform: none !important;
    width: 100%;
  }
}

button.Button-Link {
  @apply bg-transparent border-none cursor-pointer text-yellow-700;
  font-size: 1em;
  &:hover {
    @apply text-yellow-600;
  }
}

.BlogFooter {
  @apply bg-opacity-50;
  p {
    @apply text-sm text-gray-500 mx-auto;
    width: fit-content;
  }
}
